body{
    margin:0;
    padding:0;
}
nav{
    background-color: green;
    height: 50px;
  
}
nav>ol{
    list-style-type: none;
    text-align: center;
    margin:0;
}
nav>ol>li{
    display:inline-block;
    margin-top:15px;
}
nav>ol>li>a{
    text-decoration: none;
    color:white;
    padding:20px;
}
nav>ol>li>a:hover{
background-color: white;
color:black;
}
canvas{
    border:1px solid gray;
}
#gameBody{
    text-align: center;
}